<div class="flex-col min-h-screen">
    <main class="flex-1">
        <section class="profile-section">
            <div class="container">
                <div class="profile-container">
                    <div class="profile-header">
                        <div class="profile-avatar-section">
                            <div class="profile-avatar">
                                <i class="fa-solid fa-truck" style="font-size: xx-large; color: var(--color-white)"></i>
                            </div>
                            <div class="profile-info">
                                <h1 class="profile-name">Crear Pedido</h1>
                                @if(tab=='/panelAdmin/crearPedido'){
                                    <p class="profile-email">Cree y asigne un pedido a un prestador existente</p>
                                }@else {
                                    <p class="profile-email">Los usuarios prestadores verán su pedido y crearan una oferta</p>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="profile-content">
                        <span class="profile-form">
                            <div class="form-section">
                                <h3 class="form-section-title">Información del pedido</h3>
                                <div class="form-row">
                                    <div class="form-field">
                                        <label htmlFor="tipo" class="form-label">Tipo de vehículo</label>
                                        <select class="form-input" name="tipo" id="tipo" [(ngModel)]="datosPedido.tipo">
                                            @for (item of tipos; track $index) {
                                                @if (item=='') {
                                                    <option value="{{item}}" selected hidden>Seleccione tipo de vehículo</option>
                                                }@else {
                                                    <option value="{{item}}">{{item}}</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-field">
                                        <label htmlFor="funcionalidad" class="form-label">Funcionalidad</label>
                                        <select class="form-input" name="funcionalidad" id="funcionalidad" [(ngModel)]="datosPedido.funcionalidad">
                                            @for (item of funcionalidad; track $index) {
                                                @if (item=='') {
                                                    <option value="{{item}}" selected hidden>Seleccione funcionalidad del vehículo</option>
                                                }@else {
                                                    <option value="{{item}}">{{item}}</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row" style="grid-template-columns: 1fr;">
                                    <div class="form-field">
                                        <label htmlFor="lugarRetiro" class="form-label">Lugar de retiro</label>
                                        <google-map height="400px" width="100%" [center]="center" [zoom]="zoom" [options]="mapOptions" (mapClick)="onMapClick($event,'retiro')">
                                            @if (this.datosPedido.lugarRetiroLatLng.lat!=0 && this.datosPedido.lugarRetiroLatLng.lng!=0) {
                                                <map-marker [position]="this.datosPedido.lugarRetiroLatLng"></map-marker>
                                            }
                                        </google-map>
                                        <span style="display: inline-grid; grid-template-columns: 80% 20%; width: 100%;">
                                            <input id="lugarRetiro" name="lugarRetiro" type="text" class="form-input" placeholder="Lugar de retiro" [(ngModel)]="datosPedido.lugarRetiro"/>
                                            <button class="btn btn-primary btn-full btn-lg" (click)="geocode('retiro')">Verificar</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-field">
                                        <label htmlFor="tipoLugarRetiro" class="form-label">Tipo de lugar de retiro</label>
                                        <select class="form-input" name="tipoLugarRetiro" id="tipoLugarRetiro" [(ngModel)]="datosPedido.lugarTipo">
                                            @for (item of lugarTipo; track $index) {
                                                @if (item=='') {
                                                    <option value="{{item}}" selected hidden>Seleccione tipo de lugar de retiro</option>
                                                }@else {
                                                    <option value="{{item}}">{{item}}</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-field">
                                        <label htmlFor="personaRecibe" class="form-label">Persona lugar de retiro</label>
                                        <input id="personaRecibe" name="personaRecibe" type="text" class="form-input" placeholder="Persona lugar de retiro" [(ngModel)]="datosPedido.personaRetiro"/>
                                    </div>
                                </div>
                                <div class="form-row" style="grid-template-columns: 1fr;">
                                    <div class="form-field">
                                        <label htmlFor="lugarEntrega" class="form-label">Lugar de entrega</label>
                                        <google-map height="400px" width="100%" [center]="center2" [zoom]="zoom2" [options]="mapOptions" (mapClick)="onMapClick($event,'entrega')">
                                            @if (this.datosPedido.lugarEntregaLatLng.lat!=0 && this.datosPedido.lugarEntregaLatLng.lng!=0) {
                                                <map-marker [position]="this.datosPedido.lugarEntregaLatLng"></map-marker>
                                            }
                                        </google-map>
                                        <span style="display: inline-grid; grid-template-columns: 80% 20%; width: 100%;">
                                            <input id="lugarEntrega" name="lugarEntrega" type="text" class="form-input" placeholder="Lugar de entrega" [(ngModel)]="datosPedido.lugarEntrega"/>
                                            <button class="btn btn-primary btn-full btn-lg" (click)="geocode('entrega')">Verificar</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-field">
                                        <label htmlFor="personaEntrega" class="form-label">Persona lugar de entrega</label>
                                        <input id="personaEntrega" name="personaEntrega" type="text" class="form-input" placeholder="Persona lugar de entrega" [(ngModel)]="datosPedido.personaEntrega"/>
                                    </div>
                                    <div class="form-field">
                                        <label htmlFor="matricula" class="form-label">Matricula</label>
                                        <input id="matricula" name="matricula" type="text" class="form-input" placeholder="Matricula" [(ngModel)]="datosPedido.matricula"/>
                                    </div>
                                </div>
                            </div>

                            @if(tab=='/panelAdmin/crearPedido'){
                                <div class="users-table">
                                    <div class="form-row" style="gap: 0 !important;">
                                        <div class="table-header table-cell" style="grid-template-columns: 1fr; justify-content:flex-start !important;">Cantidad</div>
                                        <div class="table-row table-cell" style="border-bottom: 1px solid var(--color-gray-100) !important; grid-template-columns: 1fr; justify-content:flex-start !important; padding: 0;">
                                            <input id="oferta" name="oferta" type="number" class="form-input" placeholder="Oferta" min="0" [(ngModel)]="oferta"/>
                                        </div>
                                        <div class="table-header table-cell" style="grid-template-columns: 1fr; justify-content:flex-start !important;">Fecha</div>
                                        <div class="table-row table-cell" style="border-bottom: 1px solid var(--color-gray-100) !important; grid-template-columns: 1fr; justify-content:flex-start !important; padding: 0;">
                                            <input id="fecha" name="fecha" type="date" class="form-input" [(ngModel)]="fecha"/>
                                        </div>
                                        <div class="table-header table-cell" style="grid-template-columns: 1fr; justify-content:flex-start !important;">Horarios entre</div>
                                        <div class="table-row table-cell" style="border-bottom: 1px solid var(--color-gray-100) !important; grid-template-columns: 1fr 1fr; justify-content:flex-start !important; padding: 0;">
                                            <input id="hora1" name="hora1" type="time" class="form-input" [(ngModel)]="hora1"/>
                                            <input id="hora2" name="hora2" type="time" class="form-input" [(ngModel)]="hora2"/>
                                        </div>
                                    </div>
                                </div>
                            }

                            <button class="btn btn-primary btn-full btn-lg" (click)="crearPedido()" [disabled]="disabled">{{text}}</button>
                        </span>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>