<section id="contact" class="cta">
    <div class="container">
        <h2 class="cta-title">¿Necesitas un remolque?</h2>
        <p class="cta-description">
        No esperes mas.
        </p>
        <button class="btn btn-black btn-lg">
            <i class="fa-brands fa-whatsapp btn-icon center" style="width: 1.25rem; height: 1.25rem"></i>Contáctenos
        </button>
    </div>
</section>
<section class="contact">
    <div class="container">
        <div class="grid grid-cols-1 grid-cols-lg-2">
            <div>
                <h2 class="contact-title">
                    <span class="section-title-highlight">Contáctenos</span>
                </h2>
                <p class="contact-description">
                    ¿Tenés preguntas o necesitás asistencia? Contáctenos usando la siguiente información o completá el formulario, 
                    y nosotros te contactaremos lo antes posible.
                </p>
                <div class="contact-info">
                    <div class="contact-item">
                        <div class="contact-icon-container">
                            <i class="fa-brands fa-whatsapp center" style="color: white; width: 1.5rem; height: 1.5rem"></i>
                        </div>
                        <div class="contact-details">
                            <p>Teléfono</p>
                            <p>(123) 456-7890</p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <div class="contact-icon-container">
                            <i class="fa-solid fa-location-dot center" style="color: white; width: 1.5rem; height: 1.5rem"></i>
                        </div>
                        <div class="contact-details">
                            <p>Dirección</p>
                            <p>Tigre. Pcia Bs AS</p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <div class="contact-icon-container">
                            <i class="fa-solid fa-envelope center" style="color: white; width: 1.5rem; height: 1.5rem"></i>
                        </div>
                        <div class="contact-details">
                            <p>E-Mail</p>
                            <p>{{mail}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form">
                <h3 class="form-title">Envíanos un mensaje</h3>
                <!-- <form> -->
                    <div class="form-row">
                        <div class="form-field">
                            <label htmlFor="name" class="form-label">Nombre</label>
                            <input id="name" class="form-input" placeholder="Nombre" />
                        </div>
                        <div class="form-field">
                            <label htmlFor="phone" class="form-label">Teléfono</label>
                            <input id="phone" class="form-input" placeholder="Teléfono" />
                        </div>
                    </div>
                    <div class="form-field">
                        <label htmlFor="email" class="form-label">Email</label>
                        <input id="email" type="email" class="form-input" placeholder="Email" />
                    </div>
                    <div class="form-field">
                        <label htmlFor="message" class="form-label">Mensaje</label>
                        <textarea id="message" rows={4} class="form-textarea" placeholder="Mensaje"></textarea>
                    </div>
                    <button class="btn btn-primary btn-full">Enviar Mensaje</button>
                <!-- </form> -->
            </div>
        </div>
    </div>
</section>