<header class="header">
    <div class="container header-container">
        <div class="logo">
            <div class="foto" style="width: 2.5rem; height: 2.5rem;"></div>
            <span class="logo-text">RUTA 202</span>
        </div>
        <nav class="nav">
            <span (click)="scroller.scrollToAnchor('services');" class="nav-link">Servicios</span>
            <span (click)="scroller.scrollToAnchor('about');" class="nav-link">Nosotros</span>
            <span (click)="scroller.scrollToAnchor('contact');" class="nav-link">Contacto</span>
        </nav>
        <div class="header-actions">
            <button class="btn btn-outline">
                Ingresar
            </button>
            <button class="btn btn-primary">
                <i class="fa-solid fa-user btn-icon center" style="width: 1rem; height: 1rem"></i>Crear Cuenta
            </button>
        </div>
    </div>
</header>