<section id="about" class="about">
    <div class="container">
        <div class="grid grid-cols-1 grid-cols-lg-2" style="align-items: center; gap: 3rem">
            <div class="foto"></div>
            <div>
                <h2 class="about-title">
                    Sobre <span class="section-title-highlight">RUTA 202</span>
                </h2>
                <p class="about-description">descripcion servicios descripcion serviciosdescripcion serviciosdescripcion serviciosdescripcion 
                serviciosdescripcion serviciosdescripcion serviciosdescripcion serviciosdescripcion serviciosdescripcion servicios</p>
                <div class="about-features">
                    <div class="about-feature">
                        <div class="feature-icon-container">
                            <i class="fa-regular fa-clock center" style="color: white; width: 1.25rem; height: 1.25rem"></i>
                        </div>
                        <span class="feature-text">cualidad</span>
                    </div>
                    <div class="about-feature">
                        <div class="feature-icon-container">
                            <i class="fa-solid fa-tools center" style=" color: white; width: 1.25rem; height: 1.25rem"></i>
                        </div>
                        <span class="feature-text">cualidad</span>
                    </div>
                    <div class="about-feature">
                        <div class="feature-icon-container">
                            <i class="fa-solid fa-shield-halved center" style=" color: white; width: 1.25rem; height: 1.25rem"></i>
                        </div>
                        <span class="feature-text">cualidad</span>
                    </div>
                    <div class="about-feature">
                        <div class="feature-icon-container">
                            <i class="fa-solid fa-star center" style=" color: white; width: 1.25rem; height: 1.25rem"></i>
                        </div>
                        <span class="feature-text">cualidad</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>