/* Nosotros */
.about {
  padding: var(--spacing-16) 0;
  background-color: var(--color-gray-100);
}

.about-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: var(--spacing-6);
}

.about-description {
  color: var(--color-gray-600);
  margin-bottom: var(--spacing-6);
}

.about-features {
  display: grid;
  /* grid-template-columns: 1fr; */
  gap: var(--spacing-4);
  margin-bottom: var(--spacing-6);
}

.about-feature {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.feature-icon-container {
  background-color: var(--color-red);
  padding: var(--spacing-2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-text {
  font-weight: 500;
}