<div class="flex-col min-h-screen">
    <main class="flex-1">
        <section class="login-section">
                <div class="container">
                    <div class="login-container">
                        <div class="register-card">
                            <div class="login-header">
                                <h1 class="login-title">Crea Tu Cuenta</h1>
                                <p class="login-subtitle">Regístrate para empezar a usar nuestros servicios</p>
                            </div>

                            <div class="account-type-selector">
                                <div class="account-type-tabs">
                                    <button class="account-type-tab" [ngClass]="{'active' : type==0}" (click)="type=0; reset(0)">
                                        <i class="fa-solid fa-user center" style="width: 1.25rem; height: 1.25rem"></i><span>Cuenta Cliente</span>
                                    </button>
                                    <button class="account-type-tab" [ngClass]="{'active' : type==1}" (click)="type=1; reset(1)">
                                        <i class="fa-solid fa-truck center" style="width: 1.25rem; height: 1.25rem"></i><span>Cuenta Prestador</span>
                                    </button>
                                </div>
                                <div class="account-type-description">
                                    @if (type==0) {
                                        <p>Necesitas nuestros servicios de remolques? Regístrate como cliente!</p>
                                    } @else if (type==1) {
                                        <p>Tenes un camión para trasladar autos y queres sumarte como prestador de Ruta 202? 
                                            Crea tu cuenta como prestador para comenzar a operar con nosotros!</p>
                                    }
                                </div>
                            </div>

                            <div class="login-form">
                                <div class="form-field">
                                    <label htmlFor="empresa" class="form-label">Empresa <span class="file-input-help" style="color: var(--color-red-dark2);">{{registro['Empresa'][1]}}</span></label>
                                    <input id="empresa" type="text" class="form-input" placeholder="Ingrese su empresa" [(ngModel)]="registro['Empresa'][0]"/>
                                </div>
                                <div class="form-field">
                                    <label htmlFor="CUIT" class="form-label">CUIT  <span class="file-input-help" style="color: var(--color-red-dark2);">{{registro['CUIT'][1]}}</span></label>
                                    <input id="CUIT" type="text" class="form-input" placeholder="Ingrese su CUIT" [(ngModel)]="registro['CUIT'][0]"/>
                                </div>
                                <div class="form-field">
                                    <label htmlFor="direccion" class="form-label">Dirección  <span class="file-input-help" style="color: var(--color-red-dark2);">{{registro['Dirección'][1]}}</span></label>
                                    <input id="direccion" type="text" class="form-input" placeholder="Ingrese su direccion" [(ngModel)]="registro['Dirección'][0]"/>
                                </div>
                                <div class="form-field">
                                    <label htmlFor="celular" class="form-label">Celular de contacto  <span class="file-input-help" style="color: var(--color-red-dark2);">{{registro['Celular'][1]}}</span></label>
                                    <input id="celular" type="text" class="form-input" placeholder="Ingrese su celular" [(ngModel)]="registro['Celular'][0]"/>
                                </div>

                                @if (type==1) {
                                    <div class="form-field">
                                        <label htmlFor="email operativo" class="form-label">Email operativo  <span class="file-input-help" style="color: var(--color-red-dark2);">{{prestador['EmailOperativo'][1]}}</span></label>
                                        <input id="email operativo" type="text" class="form-input" placeholder="Ingrese su email operativo" [(ngModel)]="prestador['EmailOperativo'][0]"/>
                                    </div>
                                }

                                <div class="form-row">
                                    <div class="form-field">
                                        <label htmlFor="firstName" class="form-label">Nombre  <span class="file-input-help" style="color: var(--color-red-dark2);">{{registro['Nombre'][1]}}</span></label>
                                        <input id="firstName" type="text" class="form-input" placeholder="Ingrese su nombre" [(ngModel)]="registro['Nombre'][0]">
                                    </div>
                                    <div class="form-field">
                                        <label htmlFor="lastName" class="form-label">Apellido  <span class="file-input-help" style="color: var(--color-red-dark2);">{{registro['Apellido'][1]}}</span></label>
                                        <input id="lastName" type="text" class="form-input" placeholder="Ingrese su apellido" [(ngModel)]="registro['Apellido'][0]">
                                    </div>
                                </div>

                                @if (type==0) {
                                    <div class="form-field">
                                        <label htmlFor="dni" class="form-label">DNI  <span class="file-input-help" style="color: var(--color-red-dark2);">{{cliente['DNI'][1]}}</span></label>
                                        <input id="dni" type="text" class="form-input" placeholder="Ingrese su DNI" [(ngModel)]="cliente['DNI'][0]"/>
                                    </div>
                                }

                                <div class="form-field">
                                    <label htmlFor="email del responsable" class="form-label">Email del responsable  <span class="file-input-help" style="color: var(--color-red-dark2);">{{registro['EmailResponsable'][1]}}</span></label>
                                    <input id="email del responsable" type="text" class="form-input" placeholder="Ingrese email del responsable" [(ngModel)]="registro['EmailResponsable'][0]"/>
                                </div>
                                <div class="form-field">
                                    <label htmlFor="condfiscal" class="form-label">Condición fiscal  <span class="file-input-help" style="color: var(--color-red-dark2);">{{registro['CondiciónFiscal'][0]=='Otro' ? otro['CondiciónFiscalOtro'][1] : registro['CondiciónFiscal'][1]}}</span></label>
                                    <select class="form-input" name="condfiscal" id="condfiscal" [(ngModel)]="registro['CondiciónFiscal'][0]">
                                        <option value="" selected hidden>Ingrese su condición fiscal</option>
                                        <option value="Monotributista">Monotributista</option>
                                        <option value="Responsable inscripto">Responsable inscripto</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                    @if (registro['CondiciónFiscal'][0]=='Otro') {
                                        <div class="form-field">
                                            <input id="condfiscalOtro" type="text" class="form-input" placeholder="Ingrese su condición fiscal" [(ngModel)]="otro['CondiciónFiscalOtro'][0]"/>
                                        </div>
                                    }
                                </div>
                                <div class="form-field">
                                    <label htmlFor="password" class="form-label">Contraseña  <span class="file-input-help" style="color: var(--color-red-dark2);">{{registro['Contraseña'][1]}}</span></label>
                                    <div class="password-input-container">
                                        <input id="password" type="{{showPassword}}" class="form-input" placeholder="Crea una contraseña" [(ngModel)]="registro['Contraseña'][0]"/>
                                        <button type="button" class="password-toggle-btn" (click)="showPassword= showPassword=='password' ? 'text' : 'password'">
                                            @if (showPassword=='password') {
                                                <i class="fa-regular fa-eye center" style="color: var(--color-gray-500); width: 1.25rem; height: 1.25rem"></i>
                                            } @else if(showPassword=='text'){
                                                <i class="fa-regular fa-eye-slash center" style="color: var(--color-gray-500); width: 1.25rem; height: 1.25rem"></i>
                                            }
                                        </button>
                                    </div>
                                </div>
                                <div class="form-field">
                                    <label htmlFor="confirmPassword" class="form-label">Repita contraseña  <span class="file-input-help" style="color: var(--color-red-dark2);">{{registro['Contraseña2'][1]}}</span></label>
                                    <div class="password-input-container">
                                        <input id="confirmPassword" type="{{showPassword}}" class="form-input" placeholder="Repita contraseña" [(ngModel)]="registro['Contraseña2'][0]"/>
                                        <button type="button" class="password-toggle-btn" (click)="showPassword= showPassword=='password' ? 'text' : 'password'">
                                            @if (showPassword=='password') {
                                                <i class="fa-regular fa-eye center" style="color: var(--color-gray-500); width: 1.25rem; height: 1.25rem"></i>
                                            } @else if(showPassword=='text'){
                                                <i class="fa-regular fa-eye-slash center" style="color: var(--color-gray-500); width: 1.25rem; height: 1.25rem"></i>
                                            }
                                        </button>
                                    </div>
                                </div>

                                @if (type==0) {
                                    <div class="form-field">
                                        <label htmlFor="cargo" class="form-label">Cargo o Puesto  <span class="file-input-help" style="color: var(--color-red-dark2);">{{cliente['Cargo'][1]}}</span></label>
                                        <input id="cargo" type="text" class="form-input" placeholder="Ingrese su cargo o puesto" [(ngModel)]="cliente['Cargo'][0]"/>
                                    </div>
                                    <div class="form-field">
                                        <label htmlFor="rubro" class="form-label">Rubro  <span class="file-input-help" style="color: var(--color-red-dark2);">{{cliente['Rubro'][1]}}</span></label>
                                        <select class="form-input" name="rubro" id="rubro" [(ngModel)]="cliente['Rubro'][0]">
                                            <option value="" selected hidden>Ingrese rubro</option>
                                            <option value="Aseguradora">Aseguradora</option>
                                            <option value="Productor">Productor</option>
                                            <option value="Broker">Broker</option>
                                            <option value="Taller">Taller</option>
                                            <option value="Mecánica">Mecánica</option>
                                            <option value="Concesionario">Concesionario</option>
                                            <option value="Agencia">Agencia</option>
                                            <option value="Desarmadero">Desarmadero</option>
                                            <option value="Otro">Otro</option>
                                        </select>
                                        @if (cliente['Rubro'][0]=='Otro') {
                                            <div class="form-field">
                                                <input id="rubroOtro" type="text" class="form-input" placeholder="Ingrese rubro" [(ngModel)]="otro['RubroOtro'][0]"/>
                                            </div>
                                        }
                                    </div>
                                }

                                @if (type==1) {
                                    <div class="form-row">
                                        <div class="form-field">
                                            <label htmlFor="vehiculo" class="form-label">Vehículo  <span class="file-input-help" style="color: var(--color-red-dark2);">{{prestador['Vehículo'][0]=='Otro' ? otro['VehículoOtro'][1] : prestador['Vehículo'][1]}}</span></label>
                                            <select class="form-input" name="vehiculo" id="vehiculo" [(ngModel)]="prestador['Vehículo'][0]">
                                                <option value="" selected hidden>Ingrese vehículo</option>
                                                <option value="Camion">Camion</option>
                                                <option value="Pick up">Pick up</option>
                                                <option value="Trailer">Trailer</option>
                                                <option value="Otro">Otro</option>
                                            </select>
                                            @if (prestador['Vehículo'][0]=='Otro') {
                                                <div class="form-field">
                                                    <input id="vehiculoOtro" type="text" class="form-input" placeholder="Ingrese vehículo" [(ngModel)]="otro['VehículoOtro'][0]"/>
                                                </div>
                                            }
                                        </div>
                                        <div class="form-field">
                                            <label htmlFor="marca" class="form-label">Marca  <span class="file-input-help" style="color: var(--color-red-dark2);">{{prestador['Marca'][1]}}</span></label>
                                            <input id="marca" type="text" class="form-input" placeholder="Marca del vehículo" [(ngModel)]="prestador['Marca'][0]">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-field">
                                            <label htmlFor="modelo" class="form-label">Modelo y Version  <span class="file-input-help" style="color: var(--color-red-dark2);">{{prestador['Modelo'][1]}}</span></label>
                                            <input id="modelo" type="text" class="form-input" placeholder="Modelo y version del vehículo" [(ngModel)]="prestador['Modelo'][0]">
                                        </div>
                                        <div class="form-field">
                                            <label htmlFor="año" class="form-label">Año  <span class="file-input-help" style="color: var(--color-red-dark2);">{{prestador['Año'][1]}}</span></label>
                                            <input id="año" type="text" class="form-input" placeholder="Año del vehículo" [(ngModel)]="prestador['Año'][0]">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-field">
                                            <label htmlFor="ejes" class="form-label">Ejes  <span class="file-input-help" style="color: var(--color-red-dark2);">{{prestador['Ejes'][1]}}</span></label>
                                            <input id="ejes" type="text" class="form-input" placeholder="Ejes vehículo" [(ngModel)]="prestador['Ejes'][0]">
                                        </div>
                                        <div class="form-field">
                                            <label htmlFor="patente" class="form-label">Patente  <span class="file-input-help" style="color: var(--color-red-dark2);">{{prestador['Patente'][1]}}</span></label>
                                            <input id="patente" type="text" class="form-input" placeholder="Patente del vehículo" [(ngModel)]="prestador['Patente'][0]">
                                        </div>
                                    </div>
                                    <div class="form-field">
                                        <label htmlFor="carga" class="form-label">Capacidad de carga  <span class="file-input-help" style="color: var(--color-red-dark2);">{{prestador['CapacidadCarga'][1]}}</span></label>
                                        <input id="carga" type="text" class="form-input" placeholder="Capacidad de carga del vehículo" [(ngModel)]="prestador['CapacidadCarga'][0]"/>
                                    </div>
                                    <div class="form-field">
                                        <label htmlFor="imagen" class="form-label">Imágenes del vehículo  <span class="file-input-help" style="color: var(--color-red-dark2);">{{imgAlerta}}</span></label>
                                        <div [style]="sources.length!=0 ? 'margin-top: 2%; margin-bottom: 2%;' : ''">
                                            <span>
                                                @for (src of sources; track src) {
                                                    <img id=foto{{src.id}} src="{{src.link}}" alt="" style="width: 100px;">
                                                }
                                            </span>
                                        </div>
                                        <input type="file" class="form-input" name="imagen" id="imagen" #imagen accept="image/*," multiple (change)="showImg($event, 0)">
                                        <p class="file-input-help">Máximo de imágenes 4.</p>
                                    </div>
                                    <label class="form-label">Imágenes del carnet de conducir</label>
                                    <div class="form-row">
                                        <div class="form-field">
                                            <label class="form-label">Frente <span class="file-input-help" style="color: var(--color-red-dark2);">{{imgFrenteAlerta}}</span></label>
                                            <span style="display: flex; width: 100%; justify-content: center;">
                                                <img id=foto{{frente.id}} src="{{frente.link}}" alt="" style="width: 100px;">
                                            </span>
                                            <input type="file" class="form-input" name="carnetFrente" id="carnetFrente" #carnetFrente accept="image/*," (change)="showImg($event, 1)">
                                        </div>
                                        <div class="form-field">
                                            <label class="form-label">Dorso <span class="file-input-help" style="color: var(--color-red-dark2);">{{imgDorsoAlerta}}</span></label>
                                            <span style="display: flex; width: 100%; justify-content: center;">
                                                <img id=foto{{dorso.id}} src="{{dorso.link}}" alt="" style="width: 100px;">
                                            </span>
                                            <input type="file" class="form-input" name="carnetDorso" id="carnetDorso" #carnetDorso accept="image/*," (change)="showImg($event, 2)">
                                        </div>
                                    </div>
                                }

                                <div class="form-options" style="margin-top: var(--spacing-4);">
                                    <label class="checkbox-label">
                                        <input type="checkbox" class="checkbox" [(ngModel)]="tyc"/>
                                        <span class="checkbox-text">Acepto los <span href="/terms" class="terms-link">Términos & Condiciones</span></span>
                                    </label>
                                </div>

                                <button class="btn btn-primary btn-full btn-lg" (click)="crearCuenta(type)">Crear Cuenta</button>
                            </div>

                            <div class="login-footer">
                                <p class="signup-text">
                                ¿Ya tiene una cuenta?
                                <span routerLink="/login" class="signup-link">
                                    Ingrese aquí
                                </span>
                                </p>
                            </div>

                            <app-emergency-notice></app-emergency-notice>
                        </div>
                    </div>
                </div>
        </section>
    </main>
</div>