<div class="flex-col min-h-screen">
    <main class="flex-1">
        <section class="login-section">
            <div class="container">
                <div class="login-container">
                    <div class="login-card">
                        <div class="login-header">
                            <h1 class="login-title">Bienvenido</h1>
                        </div>

                        <div class="login-form">
                            <div class="form-field">
                                <label htmlFor="email" class="form-label">
                                    Email
                                </label>
                                <input id="email" type="email" class="form-input" placeholder="Ingrese su email" [(ngModel)]="email"/>
                            </div>

                            <div class="form-field">
                                <label htmlFor="password" class="form-label">
                                    Contraseña
                                </label>
                                <div class="password-input-container">
                                    <input id="password" type="{{showPassword}}" class="form-input" placeholder="Ingrese su contraseña" [(ngModel)]="password"/>
                                    <button type="button" class="password-toggle-btn" (click)="showPassword= showPassword=='password' ? 'text' : 'password'">
                                        @if (showPassword=='password') {
                                            <i class="fa-regular fa-eye center" style="color: var(--color-gray-500); width: 1.25rem; height: 1.25rem"></i>
                                        } @else if(showPassword=='text'){
                                            <i class="fa-regular fa-eye-slash center" style="color: var(--color-gray-500); width: 1.25rem; height: 1.25rem"></i>
                                        }
                                    </button>
                                </div>
                            </div>

                            <button class="btn btn-primary btn-full btn-lg" (click)="login()" [disabled]="texto!='Ingresar'">{{texto}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>